<ion-header>
  <ion-button routerLink="/admin-maestro" expand="block">Regresar</ion-button>
</ion-header>
<ion-content *ngIf="user$ | async as user">
  <ion-header  >
   <ion-toolbar>
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
    <div class="image">
      <img src="assets/img/MANZANA DOABLY.png" class="img-circle elevation-2" alt="User Image">
    </div>
    <div class="info">
      <a href="/perfil" class="d-block"><strong>{{user.displayName}}</strong></a>
    </div>
   </div>
    </ion-toolbar>
  </ion-header>
  <div class="fondo">
            <br>
            <h2>Tus clases esta semana</h2>
            <br>
              <table class="fondo" > 
                      <tr>
                        <td>Nombre del alumno</td>
                        <td>Nivel de ingles</td>
                        <td>Fecha</td>
                        <td>Hora</td>
                     </tr>
                     <br>
                     <ng-container>
                      <tr *ngFor="let clases of listTarjetas" class="table">
                        <td *ngIf="clases.maestro == user.email">{{clases.nombre_alumno}}</td>
                        <td *ngIf="clases.maestro == user.email">{{clases.nivelIngles }}</td>
                        <td *ngIf="clases.maestro == user.email">{{clases.fecha }}</td>
                        <td *ngIf="clases.maestro == user.email">{{clases.hora }}</td>
                        <a href="/forgot-password" class="small-box-footer">Click aqui<i class="fas fa-arrow-circle-right"></i></a>
                      </tr>
                    </ng-container>
               </table>
          </div>
</ion-content>

