<ion-header>
  <ion-toolbar>
    <ion-title>Verificacion</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="user$ | async as maestro">
  <ion-row>
    <ion-col>
      <h2>Gracias por registrarte</h2>
      <p>Necesitamos confirmar tu correo<strong>{{maestro.email}}</strong></p>
      <p>Por favor revisa tu Email y entra al link para verificar tu correo</p>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <ion-button type="submit" color="primary" expand="block" (click)="onSendEmail()"
        >Volver a enviar correo</ion-button
      >
    </ion-col>
  </ion-row>
</ion-content>
