<ion-header>
  <ion-button routerLink="/admin-maestro" expand="block">Regresar</ion-button>
</ion-header>
<ion-content *ngIf="user$ | async as user">
  <ion-header>
   <ion-toolbar>
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
    <div class="image">
      <img src="assets/img/MANZANA DOABLY.png" class="img-circle elevation-2" alt="User Image">
    </div>
    <div class="info">
      <a href="/perfil" class="d-block"><strong>{{user.displayName}}</strong></a>
    </div>
   </div>
    </ion-toolbar>
  </ion-header>
  <div class="card bg-gradient-success">
    <div class="card-header border-0">
      
      <div class="card"  >
        <div class="card">
          <div class="card-body">
              <h3 class="titulo">Calificar alumnos 
              </h3>
              <br>
              
              <table class="table">
                  <tbody>
                    <tr>
                        <td>Todos los alumnos</td>
                        <td>Correo de contacto</td> 
                     </tr>
                     <ng-container>
                      <tr *ngFor="let users of listTarjetas">
                        <a href="/calificar-alumno" id="usuarioseleccionado" class="usuarioseleccionado"><td>{{users.displayName}}</td></a>
                        <td>{{users.email}}</td>
                        
                      </tr>
                    </ng-container>
                  </tbody>
               </table>
          </div>
    </div>
    </div>
  </div>
</div>
</ion-content>

