<ion-header>
  <ion-button routerLink="/admin" expand="block">Regresar</ion-button>
</ion-header>
<ion-content *ngIf="user$ | async as user">
                        <form>
                            <div class="card card-user">
                                <div class="sign-container gradient-1">
                                    <div  style="text-align: center;">
                                        <br>
                                        <a>
                                            <img src="assets/img/3135768.png"/>
                                            <h4 class="title"  style="text-align: center;">{{user.displayName}}<br/>
                                                <small>Alumno</small>
                                            </h4>
                                        </a>
                                    </div>
                                    <br>
                                </div>
                            </div>
                            <br>
                            <div style="text-align: center;">
                                <div class="form-group">
                                    <label>Nombre de usuario</label>
                                    <input style="text-align: center;" type="text" class="form-control" placeholder="Username" value="{{user.displayName}}" disabled>
                                </div>
                            </div>
                            <div style="text-align: center;">
                                <div class="form-group">
                                    <label>Email</label>
                                    <input style="text-align: center;" type="email" class="form-control" value="{{user.email}}"  placeholder="{{user.email}}" disabled>
                                </div>
                            </div>
                        <div>
                            <div style="text-align: center;" *ngFor="let clases of listTarjetas">
                                <div class="form-group">
                                    <label *ngIf="user.displayName === clases.nombre_alumno">Nivel de ingles</label>
                                    <input *ngIf="user.displayName === clases.nombre_alumno" style="text-align: center;" type="text" class="form-control" placeholder="Nivel de ingles" value="{{clases.nivelIngles}}" disabled>
                                </div>
                            </div>
                        </div>
                        </form>
</ion-content>
