<ion-content>
  <div class="sign-container gradient-1">
     <div class="header">
      <div class="title ion-text-center">
        <img src="assets/img/LOGO DOABLY2.png">
      </div>
    </div>
    <div class="login-container">
      <ion-list lines="none" class="form fade-in">
<ion-row>
  <ion-col>
    <ion-button routerLink="/login" expand="block">Alumno</ion-button>
  <br>
    <ion-button routerLink="/login-maestro" expand="block">Maestro</ion-button>
  </ion-col>
</ion-row>
      </ion-list>
</div>
  </div>
</ion-content>