<ion-header>
  <ion-button routerLink="/admin-maestro" expand="block">Regresar</ion-button>
</ion-header>
<ion-content *ngIf="user$ | async as user">
  <ion-header>
   <ion-toolbar>
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
    <div class="image">
      <img src="assets/img/MANZANA DOABLY.png" class="img-circle elevation-2" alt="User Image">
    </div>
    <div class="info">
      <a href="/perfil" class="d-block"><strong>{{user.displayName}}</strong></a>
    </div>
   </div>
    </ion-toolbar>
  </ion-header>
  <div class="card bg-gradient-success">
    <div class="card-header border-0">
      
      <div class="card"  >
        <div class="card-body">
            <form [formGroup]="form" (ngSubmit)="agregarCalificacion()" >
              <div class="row">
                <div class="col-lg-7">
                  <h3>Nombre del alumno</h3>
                <input formControlName="nombre_alumno" class="form-control" placeholder="Tal cual esta en su nombre de usuario" type="text" #email required >
                <ion-icon name="mail-outline"></ion-icon>
                </div>
              </div>
                <div class="row">
                <div class="col-lg-7">
                    <span>
                    <h3>Semana</h3>
                        <select type="text" formControlName="semana" class="form-control" maxlength="16"
                        placeholder="Semana">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                            <option>6</option>
                            <option>7</option>
                            <option>8</option>
                            <option>9</option>
                            <option>10</option>
                            <option>11</option>
                            <option>12</option>
                          </select>
                        <i class="fas fa-credit-card" [class.green-icon]="this.form.get('semana')?.valid"
                            [class.red-icon]="this.form.get('semana')?.invalid && this.form.get('semana')?.touched"></i>
                    </span>
                </div>
                </div>
                <h3>Listening</h3>
                <div class="row">
                <div class="col-lg-7">
                  <span>
                      <select type="text" formControlName="listening" class="form-control" maxlength="16"
                      placeholder="Fecha">
                          <option>5</option>
                          <option>6</option>
                          <option>7</option>
                          <option>8</option>
                          <option>9</option>
                          <option>10</option>
                        </select>
                      <i class="fas fa-credit-card" [class.green-icon]="this.form.get('listening')?.valid"
                          [class.red-icon]="this.form.get('listening')?.invalid && this.form.get('listening')?.touched"></i>
                  </span>
              </div>
                </div>
                <h3>Class participation</h3>
                <div class="row">
                <div class="col-lg-7">
                  <span>
                      <select type="text" formControlName="participation" class="form-control" maxlength="16"
                      placeholder="Speaking">
                          <option>5</option>
                          <option>6</option>
                          <option>7</option>
                          <option>8</option>
                          <option>9</option>
                          <option>10</option>
                        </select>
                      <i class="fas fa-credit-card" [class.green-icon]="this.form.get('participation')?.valid"
                          [class.red-icon]="this.form.get('participation')?.invalid && this.form.get('participation')?.touched"></i>
                  </span>
              </div>
              <h3>Personal performance</h3>
              <div class="row">
              <div class="col-lg-7">
                <span>
                    <select type="text" formControlName="performance" class="form-control" maxlength="16"
                    placeholder="Speaking">
                        <option>5</option>
                        <option>6</option>
                        <option>7</option>
                        <option>8</option>
                        <option>9</option>
                        <option>10</option>
                      </select>
                    <i class="fas fa-credit-card" [class.green-icon]="this.form.get('performance')?.valid"
                        [class.red-icon]="this.form.get('performance')?.invalid && this.form.get('performance')?.touched"></i>
                </span>
            </div>
              </div>
              <br>
                </div>
                <h3>Retroalimentacion</h3>
                <div class="row">
                  <div class="col-lg-7">
                    <textarea formControlName="retroalimentacion" class="form-control"></textarea>
                    <i class="fas fa-credit-card" [class.green-icon]="this.form.get('retroalimentacion')?.valid"
                            [class.red-icon]="this.form.get('retroalimentacion')?.invalid && this.form.get('retroalimentacion')?.touched"></i>
                  </div>
                </div>
                <br>
                <div class="d-grid gap-2">
                  <button [disabled]="form.invalid" class="boton" type="submit">
                      <i class="fas fa-database"></i> &nbsp;Enviar calificacion
                  </button>
              </div>
            </form>
            
        </div>
    </div>
  </div>
</div>
</ion-content>

