.far {
  cursor: pointer;
  margin-right: 7px;
}.green-icon {
  color: #142c5c ;
}
.boton{
  background-color: #142c5c;
  display: inline-block;
font-weight: 400;
color: white;
border: 1px solid transparent;
padding: 0.375rem 0.75rem;
font-size: 1rem;
line-height: 1.5;
border-radius: 0.25rem;
transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.boton:disabled {
  background-color: #bb5454;
  opacity: 40%;
font-weight: 400;
color: white;
border: 1px solid transparent;
padding: 0.375rem 0.75rem;
font-size: 1rem;
line-height: 1.5;
border-radius: 0.25rem;
transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.red-icon {
  color: #dc3545;
}

.spinner-border {
  height: 1.5rem;
  width: 1.5rem;
}
.titulo{
  color: black;
}
.table{
  background-color: #142c5c ;
  color: #ffff;
  border-radius: 2px;
  margin-bottom: auto;
  border-bottom: 50%;
  font-weight: bold;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h3{
  color: black;
  text-align: center;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
input{
  color: #dc3545;
}
.gradient-1 {
  --background: linear-gradient(180deg,  #142c5c  0%, rgb(255, 255, 255) 100% );
  background: linear-gradient(180deg, rgb(255, 255, 255) 0%, #142c5c);
}
.gradient-2 {
  --background: linear-gradient(180deg,  #28a745 , #ffffff );
  background: linear-gradient(180deg, rgb(255, 255, 255) 0%,  #142c5c 500%);
}