<ion-content *ngIf="user$ | async as user">
  <ion-button routerLink="/admin" expand="block">Regresar</ion-button>
<div class="sign-container gradient-1">
  <div class="card-body">
      <h3 class="titulo">Tus calificaciones</h3>
      <br>
      <table class="table">
            <tr>
                <td>Nombre</td>
                <td>Semana</td>
                <td>Listening</td>
                <td>Class participation</td>
                <td>Personal performance</td>
                <td>Retroalimentacion</td>
            </tr>
            <ng-container *ngFor="let calificaciones of listTarjetas">
              <tr *ngIf="user.displayName === calificaciones.nombre_alumno">
                <th scope="row">{{calificaciones.nombre_alumno}}</th>
                <td>{{calificaciones.semana}}</td>
                <td>{{calificaciones.listening}}</td>
                <td>{{calificaciones.participation}}</td>
                <td>{{calificaciones.performance}}</td>
                <td>{{calificaciones.retroalimentacion}}</td>
              
            </ng-container>
      </table>
  </div>
</div>
</ion-content>