<ion-content *ngIf="master$ | async as master">
  <ion-toolbar>
<div class="user-panel mt-3 pb-3 mb-3 d-flex">
  <div class="image">
    <img src="assets/img/MANZANA DOABLY.png" class="img-circle elevation-2" alt="User Image">
  </div>
  <div class="info">
    <a href="/perfil-maestro" class="d-block"><strong>{{master.displayName}}</strong></a>
  </div>
</div>
</ion-toolbar>
<div class="sign-container gradient-1">
      <div >
        <section class="content" >
          <div class="container-fluid">
            <!-- Small boxes (Stat box) -->
            <div class="row">
              <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-success">
                  <div class="inner">
                    <h2>Calificaciones<sup style="font-size: 20px"></sup></h2>
                    <p></p>
                  </div>
                  <div class="icon">
                    <i><ion-icon name="school-outline"></ion-icon></i>
                  </div>
                  <a href="/calif" class="small-box-footer">Click aqui<i class="fas fa-arrow-circle-right"></i></a>
                </div>
              </div>
              <!-- ./col -->
              <div class="col-lg-3 col-6">
                <div class="small-box bg-warning">
                  <div class="inner">
                    <h2>Clases</h2>
                  </div>
                  <div class="icon">
                    <i><ion-icon name="book-outline"></ion-icon></i>
                  </div>
                  <a href="/clases" class="small-box-footer">Click aqui<i class="fas fa-arrow-circle-right"></i></a>
                </div>
              </div>
            
            </div>
          </div>
        </section>
        <div class="header">
          <div class="title ion-text-center">
            <img src="assets/img/LOGO DOABLY2.png">
          </div>
        </div>
      </div>
    </div>