<ion-content>
  <div class="sign-container gradient-1">
     <div class="header">
      <div class="title ion-text-center">
        <img src="assets/img/LOGO DOABLY2.png">
      </div>
    </div>
   <div class="login-container">
   <form>
    <ion-list lines="none" class="form fade-in">
    <ion-item>
      <ion-label>Email</ion-label>
      <ion-input type="text" #email required></ion-input>
      <ion-icon name="mail-outline"></ion-icon>
    </ion-item>
    <ion-item >
      <ion-label>Password</ion-label>
      <ion-input type="password" #password required></ion-input>
      <ion-icon name="lock-closed-outline"></ion-icon>
    </ion-item>
    <ion-row>
      <ion-col>
        <ion-button type="submit" (click)="onLogin(email, password)" expand="block">Login</ion-button>
        <br>
        <ion-button routerLink="/forgot-password" expand="block">Olvidaste tu contraseña?</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
            <a routerLink="/register">Crear una cuenta </a>
      </ion-col>
    </ion-row>
  </ion-list>
  </form>
  </div>
 </div>
</ion-content>
