<ion-header>
  <ion-button routerLink="/admin" expand="block">Regresar</ion-button>
</ion-header>
<ion-content *ngIf="user$ | async as user">
    <ion-toolbar>
  <div class="user-panel mt-3 pb-3 mb-3 d-flex">
    <div class="image">
      <img src="assets/img/MANZANA DOABLY.png" class="img-circle elevation-2" alt="User Image">
    </div>
    <div class="info">
      <a href="/perfil" class="d-block"><strong>{{user.displayName}}</strong></a>
    </div>
  </div>
</ion-toolbar>
<body class="sign-container gradient-1">
  <div class="board">
          <h3>Tus avances</h3>
      <div class="sub_board" *ngFor="let calificaciones of listTarjetas">
          <div class="sep_board"></div>
          <div class="cont_board">
              <div class="graf_board">
                  <div class="barra">
                      <div class="sub_barra b1">
                          <div class="tag_g">{{calificaciones.writting}}</div>
                          <div class="tag_leyenda">Writting</div>
                      </div>
                  </div>
                  <div class="barra">
                      <div class="sub_barra b2">
                          <div class="tag_g">{{calificaciones.speaking}}</div>
                          <div class="tag_leyenda">Speaking</div>
                      </div>
                  </div>
                  <div class="barra">
                      <div class="sub_barra b3">
                          <div class="tag_g"></div>
                          <div class="tag_leyenda">Espacio</div>
                      </div>
                  </div>
                  <div class="barra">
                      <div class="sub_barra b4">
                          <div class="tag_g"></div>
                          <div class="tag_leyenda">Espacio</div>
                      </div>
                  </div>
                 
              </div>
              <div class="tag_board">
                  <div class="sub_tag_board">
                      <div>100</div>
                      <div>90</div>
                      <div>80</div>
                      <div>70</div>
                      <div>60</div>
                      <div>50</div>
                      <div>40</div>
                      <div>30</div>
                      <div>20</div>
                      <div>10</div>
                  </div>
              </div>
         </div> 
          <div class="sep_board"></div>
     </div>    
  </div>
</body>
</ion-content>
