<ion-header>
  <ion-button routerLink="/admin" expand="block">Regresar</ion-button>
</ion-header>
<ion-content *ngIf="user$ | async as user">
    <ion-toolbar>
  <div class="user-panel mt-3 pb-3 mb-3 d-flex">
    <div class="image">
      <img src="assets/dist/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">
    </div>
    <div class="info">
      <a href="/perfil" class="d-block"><strong>{{user.displayName}}</strong></a>
    </div>
  </div>
</ion-toolbar>
  <div class="card bg-gradient-info">
    <div class="card-header border-0">
      <h3 class="card-title">
        <i class="fas fa-th mr-1"></i>
        Estadisticas
      </h3>

      <div class="card-tools">
        <button type="button" class="btn bg-info btn-sm" data-card-widget="collapse">
          <i class="fas fa-minus"></i>
        </button>
        <button type="button" class="btn bg-info btn-sm" data-card-widget="remove">
          <i class="fas fa-times"></i>
        </button>
      </div>
    </div>
    <div class="card-body">
      <canvas class="chart" id="line-chart" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>
    </div>
    <!-- /.card-body -->
    <div class="card-footer bg-transparent">
      <div class="row">
        <div class="col-4 text-center">
          <input type="text" class="knob" data-readonly="true" value="20" data-width="60" data-height="60"
                 data-fgColor="#39CCCC">

          <div class="text-white">Clase 1</div>
        </div>
        <!-- ./col -->
        <div class="col-4 text-center">
          <input type="text" class="knob" data-readonly="true" value="50" data-width="60" data-height="60"
                 data-fgColor="#39CCCC">

          <div class="text-white">Clase 2</div>
        </div>
        <!-- ./col -->
        <div class="col-4 text-center">
          <input type="text" class="knob" data-readonly="true" value="30" data-width="60" data-height="60"
                 data-fgColor="#39CCCC">

          <div class="text-white">Clase 3</div>
        </div>
        <!-- ./col -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.card-footer -->
  </div>
</ion-content>
