<ion-content>
  <div class="sign-container gradient-1">
    <div class="header">
      <div class="title ion-text-center">
        <img src="assets/img/LOGO DOABLY2.png">
      </div>
    </div>
    <div class="login-container">
  <form>
    <ion-list lines="none" class="form fade-in">
      <ion-item>
        <ion-label>Nombre completo</ion-label>
        <ion-input type="text" #displayName required></ion-input>
      </ion-item>
    <ion-item>
      <ion-label >Email</ion-label>
      <ion-input type="text" #email required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Password</ion-label>
      <ion-input type="password" #password required></ion-input>
    </ion-item>
    <ion-row>
      <ion-col>
        <ion-button type="submit" (click)="onRegister(email, password)" expand="block">Register</ion-button>
      </ion-col>
    </ion-row>  
    </ion-list>
  </form>
  <ion-row>
    <ion-col>
      <p>
        <a routerLink="/login-maestro">Ya tienes una cuenta?</a>
      </p>
    </ion-col>
  </ion-row>
</div>
</div>
</ion-content>
