<ion-header>
  <ion-button routerLink="/admin" expand="block">Regresar</ion-button>
</ion-header>
<ion-content *ngIf="user$ | async as user">
  <ion-header>
   <ion-toolbar>
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
    <div class="image">
      <img src="assets/img/MANZANA DOABLY.png" class="img-circle elevation-2" alt="User Image">
    </div>
    <div class="info">
      <a href="/perfil" class="d-block"><strong>{{user.displayName}}</strong></a>
    </div>
   </div>
    </ion-toolbar>
  </ion-header>
  <div class="card bg-gradient-success">
    <div class="card-header border-0">
      
      <div class="card"  >
        <div class="card-body">
            <form [formGroup]="form" (ngSubmit)="agregarTarjeta()" >
              <div class="row">
                <div class="col-lg-7">
                    <span>
                    <h3>Nombre</h3>
                        <select type="text" formControlName="nombre_alumno" class="form-control" value="{{user.displayName}}">
                          <option>{{user.displayName}}</option>
                          </select>
                        <i class="fas fa-credit-card" [class.green-icon]="this.form.get('nombre_alumno')?.valid"
                            [class.red-icon]="this.form.get('nombre_alumno')?.invalid && this.form.get('nombre_alumno')?.touched"></i>
                    </span>
                </div>
                </div>
                <div class="row">
                <div class="col-lg-7">
                    <span>
                    <h3>Nivel de ingles</h3>
                        <select type="text" formControlName="nivelIngles" class="form-control" maxlength="16"
                        placeholder="Nivel de ingles">
                            <option>A1</option>
                            <option>A2</option>
                            <option>B1</option>
                            <option>B2</option>
                            <option>C1</option>
                          </select>
                        <i class="fas fa-credit-card" [class.green-icon]="this.form.get('nivelIngles')?.valid"
                            [class.red-icon]="this.form.get('nivelIngles')?.invalid && this.form.get('nivelIngles')?.touched"></i>
                    </span>
                </div>
                </div>
                <div class="row">
                  <div class="col-lg-7">
                      <span>
                      <h3>Nivel de ingles</h3>
                          <select type="text" formControlName="nivelIngles" class="form-control" maxlength="16"
                          placeholder="Nivel de ingles">
                              <option>A1</option>
                              <option>A2</option>
                              <option>B1</option>
                              <option>B2</option>
                              <option>C1</option>
                            </select>
                          <i class="fas fa-credit-card" [class.green-icon]="this.form.get('nivelIngles')?.valid"
                              [class.red-icon]="this.form.get('nivelIngles')?.invalid && this.form.get('nivelIngles')?.touched"></i>
                      </span>
                  </div>
                  </div>
                <h3>Fecha</h3>
                <div class="row">
                <div class="col-lg-7">
                  <span>
                      <select type="text" formControlName="fecha" class="form-control" maxlength="16"
                      placeholder="Fecha">
                          <option>Lunes</option>
                          <option>Martes</option>
                          <option>Miercoles</option>
                          <option>Jueves</option>
                          <option>Viernes</option>
                        </select>
                      <i class="fas fa-credit-card" [class.green-icon]="this.form.get('fecha')?.valid"
                          [class.red-icon]="this.form.get('fecha')?.invalid && this.form.get('fecha')?.touched"></i>
                  </span>
              </div>
                </div>
                <div class="row">
                  <div class="col-lg-7">
                <h3>Hora</h3>
                <div class="input-group input-group-lg mb-3">
                  <span >
                      <i class="fas fa-user-circle" [class.green-icon]="this.form.get('hora')?.valid"
                          [class.red-icon]="this.form.get('hora')?.invalid && this.form.get('hora')?.touched"></i>
                  </span>
                  <input type="time" formControlName="hora" class="form-control" placeholder="Hora">
                </div>
                
                <div class="d-grid gap-2">
                    <button [disabled]="form.invalid" class="boton" type="submit" >
                        <i class="fas fa-database"></i> &nbsp;Aceptar
                    </button>
                </div>
                  </div>
                </div>
            </form>
            
        </div>
        <div >
          <div class="card-body">
              <h3 class="titulo">Tus clases esta semana</h3>
              <table class="table">
                    <tr>
                        <td>Nombre</td>
                        <td>Nivel de ingles</td>
                        <td>Fecha</td>
                        <td>Hora</td>
                        <td>Maestro<td>
                        <td>url</td>
                    </tr>
                      <ng-container *ngFor="let clases of listTarjetas">
                        <tr *ngIf="user.displayName === clases.nombre_alumno">
                          <th scope="row">{{clases.nombre_alumno}}</th>
                          <td>{{clases.nivelIngles }}</td>
                          <td>{{clases.fecha }}</td>
                          <td>{{clases.hora }}</td>
                          <td>{{clases.maestro_t }}</td>
                          <td>{{clases.url}}</td>

                           <td>
                               <button (click)="editarTarjeta(clases.id)" class="far fa-edit text-info"></button>
                               <button (click)="eliminarTarjeta(clases.id)" class="far fa-trash-alt text-danger"></button>
                          </td>
   
                      </ng-container>
              </table>
          </div>
    </div>
    </div>
  </div>
</div>
</ion-content>

