<ion-header>
  <ion-button routerLink="/admin" expand="block">Regresar</ion-button>
</ion-header>
<ion-content *ngIf="user$ | async as user">
  <ion-header>
    <ion-toolbar>
  <div class="user-panel mt-3 pb-3 mb-3 d-flex">
    <div class="image">
      <img src="assets/dist/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">
    </div>
    <div class="info">
      <a href="/perfil" class="d-block"><strong>{{user.displayName}}</strong></a>
    </div>
  </div>
</ion-toolbar>
</ion-header>
  <div class="card bg-gradient-success">
    <div class="card-header border-0">
      
      <div class="card">
        <div class="card-body">
            <form [formGroup]="form" (ngSubmit)="guardarTarjeta()">
                <h3>Nombre completo</h3>
                <div class="input-group input-group-lg mb-3">
                    <span>
                        <i class="fas fa-user-circle" [class.green-icon]="this.form.get('alumno')?.valid"
                            [class.red-icon]="this.form.get('alumno')?.invalid && this.form.get('alumno')?.touched"></i>
                    </span>
                    <input type="text" formControlName="alumno" class="form-control" placeholder="Nombre">
                </div>
                <div class="row">
                <div class="col-lg-7">
                    <span>
                    <h3>Nivel de ingles</h3>
                        <select type="text" formControlName="nivelIngles" class="form-control" maxlength="16"
                        placeholder="Nivel de ingles">
                            <option>A1</option>
                            <option>A2</option>
                            <option>B1</option>
                            <option>B2</option>
                            <option>C1</option>
                          </select>
                        <i class="fas fa-credit-card" [class.green-icon]="this.form.get('nivelIngles')?.valid"
                            [class.red-icon]="this.form.get('nivelIngles')?.invalid && this.form.get('nivelIngles')?.touched"></i>
                    </span>
                </div>
                </div>
                <h3>Fecha</h3>
                <div class="row">
                    <div class="col-lg-7">
                        <div>
                                <label class="fas fa-calendar-alt" [class.green-icon]="this.form.get('fecha')?.valid"
                                [class.red-icon]="this.form.get('fecha')?.invalid && this.form.get('fecha')?.touched"></label>
                            <input type="date" formControlName="fecha" min="2023-02-10" max="2023-03-31">
                        </div>
                    </div>
                </div>
                <h3>Hora</h3>
                <div class="input-group input-group-lg mb-3">
                  <span >
                      <i class="fas fa-user-circle" [class.green-icon]="this.form.get('hora')?.valid"
                          [class.red-icon]="this.form.get('hroa')?.invalid && this.form.get('hora')?.touched"></i>
                  </span>
                  <input type="time" formControlName="hora" class="form-control" placeholder="Hora">
              </div>
                <div class="d-grid gap-2">
                    <button [disabled]="form.invalid" class="btn btn-success btn-lg" type="submit">
                        <i class="fas fa-database"></i> &nbsp;Aceptar
                    </button>
                </div>
            </form>
            
        </div>
        <div class="card">
          <div class="card-body">
              <h3 class="titulo">Tus clases esta semana</h3>
              <table class="table">
                  <tbody>
                    <tr *ngIf="user$ | async as user">
                        <td>Nombre</td>
                        <td>Nivel de ingles</td>
                        <td>Fecha</td>
                        <td>Hora</td>
                    </tr>
                      <tr *ngFor="let clases of listTarjetas">
                        <th>{{user.displayName}}</th>
                          <td>{{clases.nivelIngles }}</td>
                          <td>{{clases.fecha }}</td>
                          <td>{{clases.hora }}</td>
                          <td>
                              <button (click)="editarTarjeta(clases)" class="far fa-edit text-info"></button>
                              <button (click)="eliminarTarjeta(clases.id)" class="far fa-trash-alt text-danger"></button>
                          </td>
                      </tr>
                  </tbody>
              </table>
          </div>
    </div>
    </div>
  </div>
</div>
</ion-content>

